@import url(http://fonts.googleapis.com/css?family=Open+Sans);


.allcom{
  background-color: #edeff4;
  border: solid 1px white;
  height: 50px;
  margin: 3px;
  border-radius: 4px;
  padding: 15px;
  color: olive;
}
.comm_container{
  background-color: #f6f7f8;
  border-radius: 2.5px;
  padding: 1px;
}

.alphacomm{
  background-color: rgba(150,140,57,0.5);
  padding: 3px;
}
.newcom{
  background-color: #f6f7f8;
  padding: 3px;
}
.show_p{

  &:hover {
    text-decoration: none;
    background: #fff;
    // color: #555;
  }
}
.button-1 {
  display: inline-block;
  margin: 10px 0 0;
  background: rgba(10, 5, 7, 0.3);
  padding: 6px 8px;;
  color: #555;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  border: none;


  &:hover {
    text-decoration: none;
    background: #fff;
    color: #555;
  }
}

.navlink {
  color: #ffffff;
}
p{
  padding: 6px;
}
.contain{
  overflow: hidden;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
img {
  vertical-align: middle;
  height: 110px;
  width: 170px;
}
.pro-list{
 float: left;
 margin: 5px;
 border: 1px solid;
 border-color: white;
 border-radius: 5px;
 background-color: rgba(0,0,1,0.2);
}
.pro-img{
  width: 110px;
  height: 90px;
}
body {
  background-image: url('shinygold.jpg');
  // background-color: #fff;
  color: #555;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'open sans', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;
  
  a:hover {
    color: #0ed58e;
    background-color: #000;
    text-decoration: none;
  }
  
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.navbar-default {
  background-color: rgba(10,5,7,0.3);
  border-color: #e7e7e7;
}

// nav li a {
//   color: #ffffff;
// }
button{
  background: rgba(10,5,7,0.3);
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar-brand{
  background-image: url('logo.png');
  width: 122px;
  height:48px
}

hr {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  // font-weight: bold;
  font-size: 20px;
  padding: 5px;
  color:#555
}